.user-booking-page-wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.bookings-content-wrapper {
    width: 84vw;
}

.booking-card-wrapper {
    display: flex;
    width: 100%;
    border: red 1px solid;
}

#booking-preview-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
}
