.user-booking-page-wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.bookings-content-wrapper {
    width: 84vw;
}

.booking-card-wrapper {
    display: flex;
    width: 100%;
    height: 350px;
    border: lightgray 1px solid;
    border-radius: 15px;
    margin-bottom: 20px;
}

.booking-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.booking-card-details {
    margin: 20px;
}

.booking-card-spot-name {
    font-weight: bold;
    font-size: 24px;
}

#check-icon {
    height: 15px;
    margin-right: 5px;
    filter: invert(89%) sepia(99%) saturate(920%) hue-rotate(62deg) brightness(94%) contrast(70%);
}

#delete-booking-button {
    margin-top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    border-radius: 10px;
    height: 50px;
    width: 180px;
    color: white;
    font-weight: bold;
    background: linear-gradient(0.25turn, #e61e4d, #e31c5f, #d70466);
}

#delete-booking-button:hover {
    cursor: pointer;
    background: linear-gradient(0.25turn, #d70466, #e61e4d, #e31c5f);
}

#booked-wrapper {
    display: flex;
    align-items: center;
}

#booking-preview-img {
    height: 100%;
    width: 350px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#baggage-icon {
    height: 50px;
    filter: invert(62%) sepia(48%) saturate(7272%) hue-rotate(326deg) brightness(107%) contrast(103%);
}

.no-trip-wrapper {
    width: 84vw;
    height: 285px;
    border: lightgray 1px solid;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}

#family-photo {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#no-trip {
    padding: 20px;
}

#start-searching-button {
    width: 200px;
    height: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    background: linear-gradient(0.25turn, #e61e4d, #e31c5f, #d70466);
    transition: 1s;
}


#start-searching-button:hover {
    cursor: pointer;
    user-select: none;
    background: linear-gradient(0.25turn, #d70466, #e61e4d, #e31c5f);
    transition: 1s;
}
