/* TODO Add site wide styles */
html,
body {
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}


#spot-img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.spots-main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 130px;
    grid-row-gap: 40px;
}

.spots-card-container {
    border: black 1px solid;
    width: 1600px;
    height: 2000px;
}


.new-spot {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    align-items: end;
    height: 400px;
    width: 300px;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

.name-review {
    display: flex;
    justify-content: space-between;
}

.city {
    color: gray;
    font-size: 15px;
}

.country {
    color: gray;
    font-size: 15px;
}

#rightarrow {
    display: none;
    transition: 1s;

}

.new-spot:hover #rightarrow {
    top: 240px;
    left: 410px;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.7);
    border: 5px transparent solid;
    border-radius: 999px;

}
