/* TODO Add site wide styles */
html,
body {
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}


#spot-img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.spots-main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 120px;
    grid-row-gap: 40px;
}

.spots-card-container {
    border: black 1px solid;
    width: 1600px;
    height: 2000px;
}


.new-spot {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    align-items: end;
    height: 400px;
    width: 300px;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

.name-review {
    display: flex;
    justify-content: space-between;
}

.city {
    color: gray;
    font-size: 15px;
}

.country {
    color: gray;
    font-size: 15px;
}

#space-for-footer {
    height: 60px;
    width: 100%;
}

@media screen and (max-width: 1024px){
    .spots-main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 100px;
        margin-left: -40px;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }

    #spot-img {
        width: 200px;
        height: 200px;
        border-radius: 15px;
    }

    .new-spot {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        align-items: end;
        height: 300px;
        width: 200px;
    }
}
