#nav-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 63px;
    border-bottom: rgb(228, 228, 228) 1px solid;
    background-color: white;
    position: fixed;
    z-index: 5;
}

.nav-bar {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 84%;
    height: 63px;
    border-bottom: rgb(228, 228, 228) 1px solid;
    background-color: white;
}

.logo {
    width: 128px;
    height: 35px;
}

#drop {
    width: 80px;
    height: 40px;
    border: rgb(228, 228, 228) 1px solid;
    border-radius: 30px;
}

#drop:after {
    width: 200px;
}

#option {
    width: 200px;
}



.dropbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: absolute;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: rgb(228, 228, 228) 1px solid;
    cursor: pointer;
    border-radius: 999px;
    width: 80px;
    height: 40px;

}

.dropdown {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 40px;
    right: 8%;
    top: 20%;
}

.dropdown-content-visible {
    /* display: none; */
    visibility: visible;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    border-radius: 10px;
    border: rgb(228, 228, 228) 1px solid;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    top: 120%;
    height: 100px;
}

.dropdown-content-hidden {
    visibility: hidden;
}

.dropdown-content-visible a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-visible a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}

/* .dropdown:hover .dropdown-content {
    display: block;
} */

.dropdown:hover .dropbtn {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    transition: .5s;
}

#burger {
    width: 16px;
    height: 16px;
}

#avi {
    width: 28px;
    height: 28px;
    border-radius: 999px;
    margin-left: 10px;
}

#footer-bar {
    position: fixed;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    height: 30px;
    bottom: 0%;
    border-top: rgb(228, 228, 228) 1px solid;
    z-index: 9;
}

#footer-left {
    display: flex;
    height: 20px;
    width: 160px;
    align-items: center;
    justify-content: space-between;
}

#footer-right {
    height: 20px;
    width: 160px;
    padding-right: 290px;
}

#name {
    font-size: 12px;
    color: gray;
}

#name:hover {
    cursor: default;
}

#github {
    padding-top: 5px;
    height: 20px;
    width: 20px;
}

#linkedin {
    padding-top: 5px;
    height: 20px;
    width: 20px;
}
